.custom-grid video {
  position: inherit !important;
  width: 100% !important;
  height: 100% !important;
}

.custom-grid {
  height: auto;
  width: 100vw;
  position: relative;
}

.contentShare video {
  position: relative !important;
  width: 100vw !important;
  height: 70vh !important;
}
