$color-primary: #428bca;

$color-primary-dark: #245e91;

$color-black: #131619;

$color-orange: #f5a623;

$color-blue: #06b2f5;

$color-dark: #2b3940;

$color-white: #ffffff;

$color-green: #70c116;

$color-label: rgba(43, 57, 64, 0.62);

$color-gray: #747486;

$color-white: #fff;

$color-grey: #bbb;

$color-red: #f30000;

$color-blue-db-text: #0ea5e9;

$color-blue-db-bg: #f0f9ff;