@import "./variables";

.create-wrapper {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  padding-top: 168px;
  h2 {
    font-weight: 600;
    color: $color-black;
    text-align: center;
    margin-bottom: 42px;
  }
  .form-grp {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    input {
      border-radius: 12px;
      border: 2px solid #eee;
      padding: 0 16px;
      &:focus {
        border: 2px solid $color-primary;
        outline: none;
      }
    }
  }
}
.copyLinkbtn {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1;
  border: none;
  border-radius: 50%;
  background-color: $color-white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 6px 5px 25px -2px rgba(0, 0, 0, 0.3);
  svg {
    width: 30px;
    height: 30px;
  }
}

.main-wrapper {
  .ch-form-field-select {
    margin-bottom: 0;
  }
label {
  display: none !important;
}
.ch-select {
  border-radius: 12px;
  border: 2px solid #eee;
  padding: 0 16px;
  margin: 20px 0;
  height: 45px;
}
.ch-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ch-video {
  object-fit: cover;
}
.ch-nameplate {
  bottom: 14px !important;
}
.usersList {
  display: flex;
  flex-wrap: wrap;
}
.ch-control-bar-item-iconButton {
  width: 35px;
  height: 35px;
  &:focus {
    border: none;
    box-shadow: none;
  }
}
.mainControl {
  height: 60px;
}
.actionButton {
  margin: 0 20px;
&.back-red {
  button {
    &:hover {
      background-color: red;
    }
  }
}
}
.ch-control-bar-item-label {
  white-space: nowrap;
  font-size: 12px !important;
  padding-top: 15px !important;
  margin: 0 15px;
  font-weight: 500;
}
}